# Core Scientific Libraries
numpy
pandas
scikit-learn
joblib
datasets

# Deep Learning
torch
torchvision
torchaudio
transformers
accelerate

# Backend (API)
fastapi
uvicorn[standard]

# Frontend (UI)
streamlit
altair

# Utilities
requests
